<html ng-app="app">
    <div class="container">
      <div class="row">
          <main role="main" class="col-md-10 ml-sm-auto col-lg-12">
              <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2">                
                <a href="javascript:window.history.go(-1)" 
                  class="fa fa-arrow-left pt-1 pb-1 mb-2" 
                  style="font-size:30px;color:gray">
                </a>          
                <h3 class="breadcrumb-item active">&ensp;Novo Condutor</h3>
              </div>
          <form class="col-md-12 mx-auto flex-wrap">
              <div class="form-group">
                <label for="nome">Descrição</label>
                <input ng-model="vm.cadastro.descricao" 
                       type="text" 
                       class="form-control" 
                       id="descricao">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="tipo">Tipo</label>
                  <input ng-model="vm.cadastro.tipo" 
                         type="text" 
                         class="form-control" 
                         id="tipo">
                </div>
                <div class="form-group col-md-6">
                  <label for="cor">Cor</label>
                  <input ng-model="vm.cadastro.cor" 
                         type="text" 
                         class="form-control" 
                         id="cor">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="cor">Espessura</label>
                  <input ng-model="vm.cadastro.espessura" 
                          type="number" 
                          class="form-control" 
                          id="espessura">
                  </div>
              </div>
              <div class="form-row justify-content-end">
                <button ng-click="vm.salvar()" type="button" class="btn btn-outline-success mr-2">Salvar</button>
                <a ui-sref="CondutorList" class="btn btn-outline-danger">Cancelar</a>
              </div>
            </form>
        </main>
      </div>
    </div>
</html>
