<html ng-app="app">
  <div class="container">
    <div class="row">
      <main role="main" class="col-md-10 ml-sm-auto col-lg-12">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2">                
          <a href="javascript:window.history.go(-1)" 
            class="fa fa-arrow-left pt-1 pb-1 mb-2" 
            style="font-size:30px;color:gray">
          </a>          
          <h3 class="breadcrumb-item active">&ensp;Novo Aparelho</h3>
        </div>
        <form>
            <div class="form-group">
              <label for="nome" class="required">Descrição</label>
              <input ng-model="vm.cadastro.descricao"
                      ng-class="{'is-invalid' : vm.error.descricao && !vm.cadastro.descricao}"
                      type="text" 
                      class="form-control" 
                      id="descricao"
                      required>
                      <small ng-if="vm.error.descricao && !vm.cadastro.descricao" class="invalid-feedback">
                          {{vm.error.descricao[1]}}
                      </small>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="potencia" class="required">Potência</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">W</div>
                    </div>
                    <input ng-model="vm.cadastro.potencia"
                        ng-class="{'is-invalid': vm.error.potencia && !vm.cadastro.potencia}"  
                        type="text" 
                        class="form-control" 
                        name="potencia"
                        ui-number-mask
                        required>
                        <small ng-if="vm.error.potencia && !vm.cadastro.potencia" class="invalid-feedback">
                            {{vm.error.potencia[1]}}
                          </small>
                </div> 
              </div>

              <div class="form-group col-md-6">
                <label for="tensao">Tensão</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">V</div>
                    </div>
                    <input ng-model="vm.cadastro.tensao"
                            ng-class="{'is-invalid': vm.error.tensao && !vm.cadastro.tensao}"   
                            type="number" 
                            class="form-control"
                            ng-disabled="true" 
                            id="tensao">
                            <small ng-if="vm.error.tensao && !vm.cadastro.tensao" class="invalid-feedback">
                              {{vm.error.tensao[1]}}
                            </small>
                  </div>
              </div>
            </div>
            <div class="form-row justify-content-end">
              <button ng-click="vm.salvar()" type="button" class="btn btn-outline-success mr-2">Salvar</button>
              <a ui-sref="aparelhoList" class="btn btn-outline-danger">Cancelar</a>
            </div>
          </form>
      </main>
    </div>
  </div>
</html>
