<html ng-app="app">
  <div class="container">
    <div class="row">
      <main role="main" class="col-md-10 ml-sm-auto col-lg-12">
        <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-1 pb-1 mb-2">                
          <a href="javascript:window.history.go(-1)" 
            class="fa fa-arrow-left pt-1 pb-1 mb-2" 
            style="font-size:30px;color:gray">
          </a>          
          <h3 class="breadcrumb-item active">&ensp;Novo Cálculo de Carga</h3>
        </div>
        <form>
          <div class="form-group">
            <label for="descricao" class="required">Aparelho</label>
            <select 
                ng-class="{'is-invalid': vm.error.aparelho && !vm.cadastro.aparelho}" 
                ng-options="item as item.descricao for item in vm.aparelhos track by item.id"            
                ng-model="vm.cadastro.aparelho"
                ng-change="vm.changeAparelho(vm.cadastro.aparelho)"
                class="form-control">
            </select>
            <small ng-if="vm.error.aparelho && !vm.cadastro.aparelho" class="invalid-feedback">
                {{vm.error.aparelho[1]}}
            </small>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="corrente" class="required">Corrente</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Ah</div>
                </div>
                  <input ng-model="vm.cadastro.corrente"
                          ui-number-mask
                          type="text" 
                          class="form-control" 
                          name="corrente"
                          ng-disabled="true"
                          ng-class="{'is-invalid' : vm.error.corrente && !vm.cadastro.corrente}">
                          <small ng-if="vm.error.corrente && !vm.cadastro.corrente" class="invalid-feedback">
                              {{vm.error.corrente[1]}}
                          </small>
                </div>
            </div>
            <div class="form-group col-md-4">
              <label for="protecao" class="required">Corrente de Proteção</label>
              <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Ah</div>
                  </div>
                  <input ng-model="vm.cadastro.protecao"
                          ui-number-mask
                          type="text" 
                          class="form-control" 
                          name="protecao"
                          ng-disabled="true"
                          ng-class="{'is-invalid' : vm.error.protecao && !vm.cadastro.protecao}">
                          <small ng-if="vm.error.protecao && !vm.cadastro.protecao" class="invalid-feedback">
                              {{vm.error.protecao[1]}}
                          </small>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="diametroCondutor" class="required">Diâmetro Mínimo Condutor</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">mm</div>
                    </div>
                    <input ng-model="vm.cadastro.diametroCondutor"
                            ui-number-mask
                            type="text" 
                            class="form-control" 
                            name="diametroCondutor"
                            ng-disabled="true"
                            ng-class="{'is-invalid' : vm.error.diametroCondutor && !vm.cadastro.diametroCondutor}">
                          <small ng-if="vm.error.diametroCondutor && !vm.cadastro.diametroCondutor" class="invalid-feedback">
                              {{vm.error.diametroCondutor[1]}}
                          </small>
                </div>
            </div>
        </div>
        
        <div class="form-row justify-content-end">
            <button ng-click="vm.calcular(vm.cadastro)" 
                    type="button" 
                    class="btn btn-outline-primary mr-2">Calcular
            </button>
            <button ng-click="vm.salvar()" 
                    ng-disabled="!vm.cadastro.diametroCondutor || !vm.cadastro.protecao || !vm.cadastro.corrente"  
                    type="button" 
                    class="!btn btn-outline-success mr-2">Salvar Cálculo
            </button>
            <a ui-sref="calculoCargaList" class="btn btn-outline-danger">Cancelar</a>
          </div>
        </form>
      </main>
    </div>
  </div>
</html>
